@import 'vars';
@import 'fonts';
*{
	box-sizing: border-box;
}
body{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 24px;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0px 15px;
}
.container-fluid{
	padding: 0px 30px;
}
a{
	text-decoration: none;
	display: inline-block;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
	li{
		margin: 0;
		padding: 0;
	}
}

.header__content-inner{
	height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__content-right{
	display: flex;
}
.header__content-text{
	color: $text;
	margin-right: 50px;
	span{
		color: $red;
	}
	a{
		color: $text;
	}
}
.header__content-items{
	margin-right: 26px;
}
.header__content-item{
	width: 34px;
	height: 34px;
	border-radius: 50%;
	position: relative;
	background-color: #f5f5f5;
	span{
		display: inline-block;
		position: absolute;
		right: -6px;
		top: -6px;
		background-color: $red;
		font-size: 11px;
		color: #fff;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		text-align: center;
		line-height: 18px;
	}
}
.header-basket:before{
	content: '\f07a';
	font-family: 'icomoon';
	font-size: 14px;
	color: #a0a0a0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.header__btn{
	a{
		color: #fff;
		font-size: 12px;
		border-radius: 4px;
		min-width: 72px;
		text-align: center;
		padding: 5px 15px;
		& + a{
			margin-left: 7px;
		}
	}
	.header__btn-register{
		background-color: $red;
	}
	.header__btn-login{
		background-color: $top;
	}
}
.header__menu{
	background-color: $bg;
	padding: 18px 0;
}
.menu{
	li{
		display: inline-block;
		& + li{
			padding-left: 35px;
		}
	}
	a{
		color: #fff;
		font-size: 14px;
		line-height: 30px;
		font-weight: 500;
	}
}



.footer{
	background-color: $bg;
}
.footer__content{
	padding: 100px 0px 90px;
}
.footer__content-inner{
	display: flex;
	justify-content: space-between;
}
.footer__content-item{
	width: 270px;
	&:nth-child(3){
		width: 210px;
	}
}
.footer__content-title{
	color: #fff;
	font-size: 22px;
	font-family: $font;
	font-weight: 700;
	padding-bottom: 22px;
	position: relative;
	margin-bottom: 30px;
	&:after{
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 3px;
		width: 50px;
		background-color: $top;
	}
}
.footer__content-adress,
.footer__content-phone{
	position: relative;
	padding-left: 30px;
	font-size: 14px;
	color: #fff;
	&:before{
		position: absolute;
		left: 0;
		top: 0;
		font-family: 'icomoon';
		color: $top;
		font-size: 18px;
	}
}

.footer__content-adress{
	margin-bottom: 15px;
	&:before{
		content: '\f041';
	}
}
.footer__content-phone{
	&:before{
		content: '\f095';
	}
}
.footer__content-list{
	a{
		line-height: 36px;
		color: $grey;
		padding-left: 22px;
		position: relative;
		&:before{
			content: '\f105';
			font-family: 'icomoon';
			color: $top;
			left: 0;
			position: absolute;
			font-size: 18px;
		}
	}
}
.footer__content-text{
	color: $grey;
	margin-bottom: 35px;
}
.footer__content-social{
	margin-bottom: 40px;
	li{
		display: inline-block;
		& + li{
			padding-left: 7px;
		}
	}
	a{
		width: 28px;
		height: 28px;
		background-image: url(../img/css_sprites.png);
		background-position: -1px -1px;
	}
	.footer-facebook{
		background-position: -31px -1px;
	}
	.footer-youtube{
		background-position: -1px -31px;
	}
	.footer-pinterest{
		background-position: -31px -31px;
	}
	.footer-linkedin{
		background-position: -61px -1px;
	}
}
.form__title{
	margin-bottom: 15px;
	font-size: 20px;
	line-height: 36px;
	color: #fff;
}
.footer__form{
	position: relative;
	input{
		display: block;
		background-color: #2f3c43;
		width: 260px;
		outline: none;
		height: 40px;
		padding-left: 15px;
		color: #697378;
		font-size: 14px;
		padding-right: 50px;
		border: 1px solid #000;
	}
	button{
		width: 43px;
		height: 38px;
		background-color: $top;
		border: none;
		position: absolute;
		right: 11px;
		top: 1px;
		&:after{
			content: "\f124";
			font-family: 'icomoon';
			color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
.footer__copy{
	border-top: 1px solid #424d53;
	padding: 20px 0px;
	color: $grey;
	text-align: center;
	line-height: 36px;
}

.login__wrapper{

	
}

.fancybox-content{
	background: $top;
	max-width: 729px;
	width: 100%;
	svg{
		path{
			fill: #fff;
		}
	}
}
#modal{
	display: none;
}
.modal__title{
	font-size: 48px;
	line-height: 36px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 30px;
}
.modal__form-inner{
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
}
.modal__form{
	label{
		display: block;
		position: relative;
		input{
			display: block;
			margin-bottom: 8px;
			height: 43px;
			border: none;
			outline: none;
			color: #fff;
			background-color: #76ae36;
			width: 100%;
			padding-left: 40px;
			padding-right: 10px;
		}
		&:before{
			font-family: 'icomoon';
			position: absolute;
			left: 18px;
			top: 12px;
			color: #fff;
			font-size: 14px;
		}
	}
	.form__name{
		&:before{
			content: '\f0a2'
		}
	}
	.form__pass{
		&:before{
			content: '\f005'
		}
		margin-bottom: 12px;
	}
	input[type="submit"]{
		color: #000;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
		width: 139px;
		height: 48px;
		border: none;
		font-weight: 700;
	}
}
.form__link{
	margin-left: 10px;
	max-width: 247px;
	width: 100%;
	display: inline-block;
	background-color: #76ae36;
	color: #fff;
	text-align: center;
	padding: 11px 0 12px;
	font-size: 18px;
	&:before{
		content: "\f0e7";
		color: #fff;
		font-size: 14px;
		font-family: 'icomoon';
		padding-right: 8px;
	}
}
.form__lost-pass{
	margin-top: 18px;
	font-size: 18px;
	line-height: 30px;
	color: #fff;
	margin-bottom: 60px;
}

.search{
	text-align: center;
	background-size: cover;
	background-position: center center;
	background-image: url(../img/header__bg.jpg);
	padding: 55px 0px 65px;
	filter: grayscale(1);
	&.search__home{
		background-image: url(../img/header__home__bg.jpg);
		padding: 135px 0px 175px;
	}
}
.search__title{
	font-weight: 700;
	line-height: 30px;
	font-size: 48px;
	color: #fff;
	margin-bottom: 20px;
}
.search__text{
	font-size: 20px;
	line-height: 30px;
	color: #fff;
	margin-bottom: 40px;
	font-weight: 500;
}
.search__form{
	position: relative;
	max-width: 670px;
	width: 100%;
	margin: 0 auto;
	input{
		max-width: 670px;
		width: 100%;
		display: inline-block;
		height: 60px;
		border: none;
		border-radius: 4px;
		box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
		background-color: #fff;
		font-size: 14px;
		color: #90a4ae;
		font-weight: 500;
		padding-left: 25px;
		padding-right: 50px;
		outline: none;
		&::placeholder{
			font-size: 14px;
			color: #90a4ae;
			font-weight: 500;
		}
	}
	button{
		border: none;
		outline: none;
		background-color: transparent;
		color: #90a4ae;
		position: absolute;
    right: 7px;
    top: 17px;
    font-size: 26px;
	}
}
.portfolio{
	background-color: #f4f6f5;
	padding: 100px 0;
}
.portfolio__title{
	text-align: center;
	color: $bg;
	font-weight: 700;
	line-height: 60px;
	font-size: 36px;
	margin-bottom: 20px;
}

.item{
	max-width: 440px;
	width: 100%;
	border: 1px solid #e7ecf2;
	margin-bottom: 30px;
	position: relative;
	&.sale{
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 30px 30px 30px 30px;  
			border-color: $top transparent transparent $top;  
		}
		&:after{
			content: "\f0e7";
			font-family: 'icomoon';
			color: #fff;
			position: absolute;
			left: 11px;
			top: 8px;
			font-size: 18px;
		}
	}
}
.item__info{
	background-color: #fff;
	border-bottom: 1px solid #e7ecf2;
	padding-left: 30px;
	padding-right: 30px;
	min-height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.item__img{
	display: block;
	img{
		display: block;
		max-width: 100%;
		width: 100%;
	}
}
.item__info-box{
	line-height: 30px;
	font-weight: 500;
	max-width: 290px;
	width: 100%;
}
.item__info-name{
	font-size: 18px;
	color: $bg;
	display: block;
}
.item__info-category{
	font-size: 14px;
	color: $top;
	display: block;
}
.item__price{
	font-size: 20px;
	font-weight: 700;
}
.item__user-box{
	background-color: #fff;
	border-bottom: 1px solid #e7ecf2;
	padding-left: 30px;
	padding-right: 30px;
	min-height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.item__user{
	font-size: 14px;
	font-weight: 700;
	line-height: 60px;
	color: #546e7a;
	display: flex;
	align-items: center;
	img{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		margin-right: 15px;
	}
}
.item__user-rating{
	display: flex;
	align-items: center;
	li{
		display: inline-block;
		padding-right: 2px;
		span{
			color: #ffa726;
		}
	}
}
.item__user-rating-number{
	color: $bg;
	padding-left: 13px;
}
.portfolio__content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.portfolio__btn{
	margin-bottom: 60px;
	text-align: center;
	button{
		background: #fff;
		border: none;
		outline: none;
		margin-left: 3px;
		margin-right: 3px;
		font-size: 14px;
		color: $bg;
		padding: 10px 20px;
		font-weight: 500;
		cursor: pointer;
		&.mixitup-control-active{
			background-color: $red;
			color: #fff;
		}
	}
}
.portgolio__link{
	text-align: center;
	padding-top: 40px;
	a{
		color: $bg;
		font-size: 16px;
		background-color: #fff;
		box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
		padding: 20px 30px;
		margin-left: 7px;
		margin-right: 7px;
	}
}
.slider{
	padding: 100px 0px 120px;
	.slick-dots{
		text-align: center;
		li{
			display: inline-block;
			margin-left: 4px;
			margin-right: 4px;
			button{
				border-radius: 50%;
				background-color: rgb(232, 232, 232);
				width: 22px;
				height: 22px;
				padding: 0;
				font-size: 0;
				border: none;
				outline: none;
				cursor: pointer;
			}
			&.slick-active{
				button{
					background-color: $top;
				}
			}
		}
	}
}
.slider__title{
	text-align: center;
	margin-bottom: 40px;
	font-size: 36px;
	font-weight: 700;
	color: $bg;
}

// category page

.breadcrumbs{
	padding: 45px 0px 40px;
	li{
		display: inline-block;
		padding-right: 9px;
		&:after{
			content: '-';
			color: $top;
			margin-left: 9px;
		}
		&:last-child{
			a{
				color: $bg;
			}
			&:after{
				display: none;
			}
		}
	}
	a{
		font-size: 15px;
		color: #b0bec5;
	}
}

.category{
	background-color: #f4f5f6;
	padding-bottom: 110px;
}
.price-range{
	background-color: #fff;
	border: 1px solid #dcdcdc;
	padding: 0px 30px;
	padding-bottom: 30px;
}
.price-range__title{
	border-bottom: 1px solid #dcdcdc;
	font-size: 20px;
	line-height: 60px;
	color: #263238;
}
.price-range__form{
	button{
		margin-top: 60px;
		background-color: $top;
		width: 100%;
		text-align: center;
		font-weight: 500;
		color: #fff;
		border: none;
		line-height: 40px;
		cursor: pointer;
		position: relative;
		&:before{
			content: "\f002";
			font-family: 'icomoon';
			position: absolute;
			left: 50px;
		}
	}
	.irs--round .irs-bar {
    height: 5px;
    background-color: #37474f;
	}
	.irs--round .irs-line {
    height: 5px;
    background-color: #f2f5f8;
    border-radius: 4px;
}
.irs--round .irs-handle {
	top: 30px;
	width: 16px;
	height: 16px;
	border: 4px solid $top;
	background-color: #fff;
	border-radius: 16px;
}
.irs-min,
.irs-max{
	display: none;
}
.irs--round .irs-from, .irs--round .irs-single, .irs--round .irs-to {
	font-size: 15px;
	line-height: 1;
	text-shadow: none;
	padding: 3px 5px;
	background-color: transparent;
	color: #78909c;
	border-radius: 4px;
}
.irs--round .irs-from:before, .irs--round .irs-single:before, .irs--round .irs-to:before{
	display: none;
}
.irs-from, .irs-single, .irs-to{
	top: 53px;
}
}
.pagination{
	padding-top: 60px;
	li{
		display: inline-block;
		& + li{
			padding-left: 8px;
		}
	}
}
.pagination__btn{
	text-align: center;
	width: 43px;
	height: 38px;
	line-height: 38px;
	background-color: #fff;
	font-size: 16px;
	display: inline-block;
	font-weight: 500;
	color: #263238;
	box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
	&.active{
		background-color: $red;
		color: #fff;
	}
}


// upload page

.upload{
	background-color: #f4f5f6;
}
.upload__wrapper{
	background-color: #fff;
	border: 1px solid #dcdcdc;
}
.upload__title{
	font-size: 24px;
	line-height: 60px;
	color: #263238;
	border-bottom: 1px solid #dcdcdc;
	padding-left: 30px;
	margin-bottom: 40px;
	font-weight: 500;
}
.upload__form-item{
	margin-bottom: 18px;
	padding-left: 30px;
	padding-right: 50px;
	display: flex;
	label{
		display: block;
		width: 175px;
		padding-right: 15px;
		color: #444;
		padding-top: 10px;
		sup{
			color: $top;
			font-size: 20px;
			top: 0;
		}
	}
	.jq-selectbox__select{
		border-radius: 0px;
		border: 1px solid #dcdcdc;
		height: 40px;
		background: #f9f9f9;
    box-shadow: none;
		text-shadow: none;
		padding: 0 45px 0 15px;
	}
	.jq-selectbox{
		width: 100%;
	}
	.jq-selectbox__trigger{
		height: 0;
	}
	.jq-selectbox__select-text{
		line-height: 40px;
	}
	.jq-selectbox__trigger-arrow {
    top: 16px;
    right: 15px;
    border-top: 4px solid #444;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
}
