@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?u88ioq");
  src: url("../fonts/icomoon.eot?u88ioq#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?u88ioq") format("truetype"), url("../fonts/icomoon.woff?u88ioq") format("woff"), url("../fonts/icomoon.svg?u88ioq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}

.icon-star:before {
  content: "\f005";
}

.icon-map-marker:before {
  content: "\f041";
}

.icon-shopping-cart:before {
  content: "\f07a";
}

.icon-phone:before {
  content: "\f095";
}

.icon-bell-o:before {
  content: "\f0a2";
}

.icon-bars:before {
  content: "\f0c9";
}

.icon-navicon:before {
  content: "\f0c9";
}

.icon-reorder:before {
  content: "\f0c9";
}

.icon-envelope:before {
  content: "\f0e0";
}

.icon-bolt:before {
  content: "\f0e7";
}

.icon-flash:before {
  content: "\f0e7";
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-angle-down:before {
  content: "\f107";
}

.icon-location-arrow:before {
  content: "\f124";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}

.container-fluid {
  padding: 0px 30px;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  margin: 0;
  padding: 0;
}

.header__content-inner {
  height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__content-text {
  color: #546e7a;
  margin-right: 50px;
}

.header__content-text span {
  color: #e74c3c;
}

.header__content-text a {
  color: #546e7a;
}

.header__content-items {
  margin-right: 26px;
}

.header__content-item {
  width: 34px;
  height: 34px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  background-color: #f5f5f5;
}

.header__content-item span {
  display: inline-block;
  position: absolute;
  right: -6px;
  top: -6px;
  background-color: #e74c3c;
  font-size: 11px;
  color: #fff;
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  line-height: 18px;
}

.header-basket:before {
  content: '\f07a';
  font-family: 'icomoon';
  font-size: 14px;
  color: #a0a0a0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__btn a {
  color: #fff;
  font-size: 12px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  min-width: 72px;
  text-align: center;
  padding: 5px 15px;
}

.header__btn a + a {
  margin-left: 7px;
}

.header__btn .header__btn-register {
  background-color: #e74c3c;
}

.header__btn .header__btn-login {
  background-color: #8bc34a;
}

.header__menu {
  background-color: #263238;
  padding: 18px 0;
}

.menu li {
  display: inline-block;
}

.menu li + li {
  padding-left: 35px;
}

.menu a {
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
}

.footer {
  background-color: #263238;
}

.footer__content {
  padding: 100px 0px 90px;
}

.footer__content-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content-item {
  width: 270px;
}

.footer__content-item:nth-child(3) {
  width: 210px;
}

.footer__content-title {
  color: #fff;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding-bottom: 22px;
  position: relative;
  margin-bottom: 30px;
}

.footer__content-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 50px;
  background-color: #8bc34a;
}

.footer__content-adress,
.footer__content-phone {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  color: #fff;
}

.footer__content-adress:before,
.footer__content-phone:before {
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'icomoon';
  color: #8bc34a;
  font-size: 18px;
}

.footer__content-adress {
  margin-bottom: 15px;
}

.footer__content-adress:before {
  content: '\f041';
}

.footer__content-phone:before {
  content: '\f095';
}

.footer__content-list a {
  line-height: 36px;
  color: #b7c3c8;
  padding-left: 22px;
  position: relative;
}

.footer__content-list a:before {
  content: '\f105';
  font-family: 'icomoon';
  color: #8bc34a;
  left: 0;
  position: absolute;
  font-size: 18px;
}

.footer__content-text {
  color: #b7c3c8;
  margin-bottom: 35px;
}

.footer__content-social {
  margin-bottom: 40px;
}

.footer__content-social li {
  display: inline-block;
}

.footer__content-social li + li {
  padding-left: 7px;
}

.footer__content-social a {
  width: 28px;
  height: 28px;
  background-image: url(../img/css_sprites.png);
  background-position: -1px -1px;
}

.footer__content-social .footer-facebook {
  background-position: -31px -1px;
}

.footer__content-social .footer-youtube {
  background-position: -1px -31px;
}

.footer__content-social .footer-pinterest {
  background-position: -31px -31px;
}

.footer__content-social .footer-linkedin {
  background-position: -61px -1px;
}

.form__title {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
}

.footer__form {
  position: relative;
}

.footer__form input {
  display: block;
  background-color: #2f3c43;
  width: 260px;
  outline: none;
  height: 40px;
  padding-left: 15px;
  color: #697378;
  font-size: 14px;
  padding-right: 50px;
  border: 1px solid #000;
}

.footer__form button {
  width: 43px;
  height: 38px;
  background-color: #8bc34a;
  border: none;
  position: absolute;
  right: 11px;
  top: 1px;
}

.footer__form button:after {
  content: "\f124";
  font-family: 'icomoon';
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__copy {
  border-top: 1px solid #424d53;
  padding: 20px 0px;
  color: #b7c3c8;
  text-align: center;
  line-height: 36px;
}

.fancybox-content {
  background: #8bc34a;
  max-width: 729px;
  width: 100%;
}

.fancybox-content svg path {
  fill: #fff;
}

#modal {
  display: none;
}

.modal__title {
  font-size: 48px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.modal__form-inner {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.modal__form label {
  display: block;
  position: relative;
}

.modal__form label input {
  display: block;
  margin-bottom: 8px;
  height: 43px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #76ae36;
  width: 100%;
  padding-left: 40px;
  padding-right: 10px;
}

.modal__form label:before {
  font-family: 'icomoon';
  position: absolute;
  left: 18px;
  top: 12px;
  color: #fff;
  font-size: 14px;
}

.modal__form .form__name:before {
  content: '\f0a2';
}

.modal__form .form__pass {
  margin-bottom: 12px;
}

.modal__form .form__pass:before {
  content: '\f005';
}

.modal__form input[type="submit"] {
  color: #000;
  background-color: white;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
          box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
  width: 139px;
  height: 48px;
  border: none;
  font-weight: 700;
}

.form__link {
  margin-left: 10px;
  max-width: 247px;
  width: 100%;
  display: inline-block;
  background-color: #76ae36;
  color: #fff;
  text-align: center;
  padding: 11px 0 12px;
  font-size: 18px;
}

.form__link:before {
  content: "\f0e7";
  color: #fff;
  font-size: 14px;
  font-family: 'icomoon';
  padding-right: 8px;
}

.form__lost-pass {
  margin-top: 18px;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 60px;
}

.search {
  text-align: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-image: url(../img/header__bg.jpg);
  padding: 55px 0px 65px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.search.search__home {
  background-image: url(../img/header__home__bg.jpg);
  padding: 135px 0px 175px;
}

.search__title {
  font-weight: 700;
  line-height: 30px;
  font-size: 48px;
  color: #fff;
  margin-bottom: 20px;
}

.search__text {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 40px;
  font-weight: 500;
}

.search__form {
  position: relative;
  max-width: 670px;
  width: 100%;
  margin: 0 auto;
}

.search__form input {
  max-width: 670px;
  width: 100%;
  display: inline-block;
  height: 60px;
  border: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
          box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
  background-color: #fff;
  font-size: 14px;
  color: #90a4ae;
  font-weight: 500;
  padding-left: 25px;
  padding-right: 50px;
  outline: none;
}

.search__form input::-webkit-input-placeholder {
  font-size: 14px;
  color: #90a4ae;
  font-weight: 500;
}

.search__form input::-moz-placeholder {
  font-size: 14px;
  color: #90a4ae;
  font-weight: 500;
}

.search__form input:-ms-input-placeholder {
  font-size: 14px;
  color: #90a4ae;
  font-weight: 500;
}

.search__form input::-ms-input-placeholder {
  font-size: 14px;
  color: #90a4ae;
  font-weight: 500;
}

.search__form input::placeholder {
  font-size: 14px;
  color: #90a4ae;
  font-weight: 500;
}

.search__form button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #90a4ae;
  position: absolute;
  right: 7px;
  top: 17px;
  font-size: 26px;
}

.portfolio {
  background-color: #f4f6f5;
  padding: 100px 0;
}

.portfolio__title {
  text-align: center;
  color: #263238;
  font-weight: 700;
  line-height: 60px;
  font-size: 36px;
  margin-bottom: 20px;
}

.item {
  max-width: 440px;
  width: 100%;
  border: 1px solid #e7ecf2;
  margin-bottom: 30px;
  position: relative;
}

.item.sale:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 30px 30px;
  border-color: #8bc34a transparent transparent #8bc34a;
}

.item.sale:after {
  content: "\f0e7";
  font-family: 'icomoon';
  color: #fff;
  position: absolute;
  left: 11px;
  top: 8px;
  font-size: 18px;
}

.item__info {
  background-color: #fff;
  border-bottom: 1px solid #e7ecf2;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__img {
  display: block;
}

.item__img img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.item__info-box {
  line-height: 30px;
  font-weight: 500;
  max-width: 290px;
  width: 100%;
}

.item__info-name {
  font-size: 18px;
  color: #263238;
  display: block;
}

.item__info-category {
  font-size: 14px;
  color: #8bc34a;
  display: block;
}

.item__price {
  font-size: 20px;
  font-weight: 700;
}

.item__user-box {
  background-color: #fff;
  border-bottom: 1px solid #e7ecf2;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__user {
  font-size: 14px;
  font-weight: 700;
  line-height: 60px;
  color: #546e7a;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__user img {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 15px;
}

.item__user-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__user-rating li {
  display: inline-block;
  padding-right: 2px;
}

.item__user-rating li span {
  color: #ffa726;
}

.item__user-rating-number {
  color: #263238;
  padding-left: 13px;
}

.portfolio__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.portfolio__btn {
  margin-bottom: 60px;
  text-align: center;
}

.portfolio__btn button {
  background: #fff;
  border: none;
  outline: none;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 14px;
  color: #263238;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
}

.portfolio__btn button.mixitup-control-active {
  background-color: #e74c3c;
  color: #fff;
}

.portgolio__link {
  text-align: center;
  padding-top: 40px;
}

.portgolio__link a {
  color: #263238;
  font-size: 16px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
          box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
  padding: 20px 30px;
  margin-left: 7px;
  margin-right: 7px;
}

.slider {
  padding: 100px 0px 120px;
}

.slider .slick-dots {
  text-align: center;
}

.slider .slick-dots li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}

.slider .slick-dots li button {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #e8e8e8;
  width: 22px;
  height: 22px;
  padding: 0;
  font-size: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.slider .slick-dots li.slick-active button {
  background-color: #8bc34a;
}

.slider__title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 700;
  color: #263238;
}

.breadcrumbs {
  padding: 45px 0px 40px;
}

.breadcrumbs li {
  display: inline-block;
  padding-right: 9px;
}

.breadcrumbs li:after {
  content: '-';
  color: #8bc34a;
  margin-left: 9px;
}

.breadcrumbs li:last-child a {
  color: #263238;
}

.breadcrumbs li:last-child:after {
  display: none;
}

.breadcrumbs a {
  font-size: 15px;
  color: #b0bec5;
}

.category {
  background-color: #f4f5f6;
  padding-bottom: 110px;
}

.price-range {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  padding: 0px 30px;
  padding-bottom: 30px;
}

.price-range__title {
  border-bottom: 1px solid #dcdcdc;
  font-size: 20px;
  line-height: 60px;
  color: #263238;
}

.price-range__form button {
  margin-top: 60px;
  background-color: #8bc34a;
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: #fff;
  border: none;
  line-height: 40px;
  cursor: pointer;
  position: relative;
}

.price-range__form button:before {
  content: "\f002";
  font-family: 'icomoon';
  position: absolute;
  left: 50px;
}

.price-range__form .irs--round .irs-bar {
  height: 5px;
  background-color: #37474f;
}

.price-range__form .irs--round .irs-line {
  height: 5px;
  background-color: #f2f5f8;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.price-range__form .irs--round .irs-handle {
  top: 30px;
  width: 16px;
  height: 16px;
  border: 4px solid #8bc34a;
  background-color: #fff;
  -webkit-border-radius: 16px;
          border-radius: 16px;
}

.price-range__form .irs-min,
.price-range__form .irs-max {
  display: none;
}

.price-range__form .irs--round .irs-from, .price-range__form .irs--round .irs-single, .price-range__form .irs--round .irs-to {
  font-size: 15px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 5px;
  background-color: transparent;
  color: #78909c;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.price-range__form .irs--round .irs-from:before, .price-range__form .irs--round .irs-single:before, .price-range__form .irs--round .irs-to:before {
  display: none;
}

.price-range__form .irs-from, .price-range__form .irs-single, .price-range__form .irs-to {
  top: 53px;
}

.pagination {
  padding-top: 60px;
}

.pagination li {
  display: inline-block;
}

.pagination li + li {
  padding-left: 8px;
}

.pagination__btn {
  text-align: center;
  width: 43px;
  height: 38px;
  line-height: 38px;
  background-color: #fff;
  font-size: 16px;
  display: inline-block;
  font-weight: 500;
  color: #263238;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
          box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
}

.pagination__btn.active {
  background-color: #e74c3c;
  color: #fff;
}

.upload {
  background-color: #f4f5f6;
}

.upload__wrapper {
  background-color: #fff;
  border: 1px solid #dcdcdc;
}

.upload__title {
  font-size: 24px;
  line-height: 60px;
  color: #263238;
  border-bottom: 1px solid #dcdcdc;
  padding-left: 30px;
  margin-bottom: 40px;
  font-weight: 500;
}

.upload__form-item {
  margin-bottom: 18px;
  padding-left: 30px;
  padding-right: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.upload__form-item label {
  display: block;
  width: 175px;
  padding-right: 15px;
  color: #444;
  padding-top: 10px;
}

.upload__form-item label sup {
  color: #8bc34a;
  font-size: 20px;
  top: 0;
}

.upload__form-item .jq-selectbox__select {
  -webkit-border-radius: 0px;
          border-radius: 0px;
  border: 1px solid #dcdcdc;
  height: 40px;
  background: #f9f9f9;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  padding: 0 45px 0 15px;
}

.upload__form-item .jq-selectbox {
  width: 100%;
}

.upload__form-item .jq-selectbox__trigger {
  height: 0;
}

.upload__form-item .jq-selectbox__select-text {
  line-height: 40px;
}

.upload__form-item .jq-selectbox__trigger-arrow {
  top: 16px;
  right: 15px;
  border-top: 4px solid #444;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
